
/target/
*.class
*.jar
*.war
*.iml
/.idea/
.vscode/
.mvn/
.mvnw
.mvnw.cmd
hs_err_pid*
.DS_Store
*.log
*.db
.env
*.zip
*/.classpath
*/.project
*/.settings/
/out/
/spring.log
logs/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
